<a href="https://colab.research.google.com/github/anish-melvin/Learning-Python/blob/main/Python_fundamentals_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list comprehension
#function definition
#lamba/map/filter

In [ ]:
#square operation
a = [11,12,13,43,56]
sq_a = []

for i in a:
  sq_a.append(i**2)
print(sq_a)

[121, 144, 169, 1849, 3136]

In [ ]:
#list comprehension
[i**2 for i in a]

[121, 144, 169, 1849, 3136]

In [ ]:
#upper
#lower
#capitalize

a = ["my", "name", "is", "anish", "melvin"]
[i.upper() for i in a]

['MY', 'NAME', 'IS', 'ANISH', 'MELVIN']

In [ ]:
#convert to list and comprehend
a = "i love sports very much"

[i.capitalize() for i in a.split()]

['I', 'Love', 'Sports', 'Very', 'Much']

In [3]:
#print even number

a = [0,1,2,3,4,5,6,7,8,9,10]

[i for i in a if i%2==0]

[0, 2, 4, 6, 8, 10]

In [24]:
a = [1,2,3,4,5,6,7,8,9,10]

["Even" if i%2==0 else "Odd" for i in a]

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [28]:
a = [102,232,233,344,456,564,234]
b = [102,233,324,564,567,523,456]

set(a)&set(b)

{102, 233, 456, 564}