<a href="https://colab.research.google.com/github/anish-melvin/Learning-Python/blob/main/Python_fundamentals_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3

In [ ]:
#day2
# two loops in list comprehension

[i for i in a for j in b if i==j]

[102, 233, 456, 564]

In [ ]:
#18 <= young
#60 >= old
#else = middle

a = [13,25,57,35,76,71,69,45]

for i in a:
  if i<=18:
    print("young")
  elif i>=60:
    print("old")
  else:
    print("middle")

young
middle
middle
middle
old
old
old
middle

In [ ]:
#using list comprehension
#writing on left when condition ouput is required
a = [13,25,57,35,76,71,69,45]
["young" if i<=18 else "old" if i>=60 else "middle" for i in a]

['young', 'middle', 'middle', 'middle', 'old', 'old', 'old', 'middle']

In [ ]:
#find number divisible by 2 and 3 in list comprehension

a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
[i for i in a if i%2==0 and i%3==0]

[6, 12, 18]

In [2]:
#funtion
#write function for sum, sum()

a = "945464"

sum([int(i) for i in str(a)])

32

In [ ]:
def my_sum(a):
  return sum([int(i) for i in str(a)])

In [3]:
my_sum(541646)

8

In [4]:
# Function to calculate the sum of digits in a number
def add_sum(a):
    return sum([int(i) for i in str(a)])

# Call the function with the number
result = add_sum(541646)

# Print the result
print(result)

#asked question in stackoverflow

26

In [5]:
#question add until we get single digit output

a = 12345321

def my_sum(a):
  b = sum([int(i) for i in str(a)])
  if b>9:
    return my_sum(b)
  else:
    return b

my_sum(12345321)

#output got in jupyter notebook, for some reason colab throwing error :(

3

In [16]:
#lambda function
addition = lambda a,b: a+b
multiply = lambda a,b: a*b

In [17]:
addition(56,47)

103

In [18]:
multiply(48,45)

2160

In [26]:
#find odd even

a = lambda a: "even" if a%2==0 else "odd"

a(29)

'odd'

In [44]:
a = [12,44,39,37,26]
[round((i/45)*100,2) for i in a]

[26.67, 97.78, 86.67, 82.22, 57.78]

In [32]:
#map,filter,reduce

a = [12,56,47]
b = [65,41,17]

list(map(addition,a,b))

[77, 97, 64]

In [47]:
odd_even = [24,87,51,64,34,36,33,21]
a = lambda a: "even" if a%2==0 else "odd"
list(map(a,odd_even))

['even', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'odd']

In [48]:
a = [12,56,47]
b = [65,41,17]

addition = lambda a,b: a+b

list(map(addition,a,b))

[77, 97, 64]