**Day 1 08/02/2024**

In [ ]:
a = "10"
b = "10"
c= a+b
print(c)

1010

In [ ]:
a = input(int())
b = input(int())
c = a+b

print(c)

012
056
1256

In [ ]:
a = int(input())
b = int(input())
c = a+b

print(c)

10
45
55

In [ ]:
a = input()
b = input()

print("My Name Is:", a)
print("My Age Is:", b)

Anish
27
My Name Is: Anish
My Age Is: 27

In [ ]:
name    = input()
age     = input()
address = input()

print("My Name is:", name)
print("My AGe Is:", age)
print("My Address Is:", address)

Anish
27
GN Mills, Coimbatore
My Name is: Anish
My AGe Is: 27
My Address Is: GN Mills, Coimbatore

In [ ]:
a = int(input())
b = int(input())
c = int(input())

x = (a*b*c)
y = (a+b+c)
z = (x/y)

print(x)
print(y)
print(z)

2
3
4
24
9
2.6666666666666665

In [ ]:
name = input()
score = int(input())
department = input()

print("My Name Is:", name)
print("My Score Is:", score/10,"/10")
print("My Department Is:", department)

Anish

In [ ]:
#if else

Meghna = input()

if Meghna == "Died":
  print("Suriya Meets Priya")
else:
  print("Suriya Weds Meghna")

died
Suriya Weds Meghna

In [ ]:
a = input(int())

print(a)

02
2

In [ ]:
a = int(input())

print(a)

2
2

In [ ]:
a = int(input("Enter the integer vale :"))

print(a)

Enter the integer vale :2
2

In [ ]:
int(7.5)%2

1